span.folder {
	font-weight: bold;	
}
span.icon-folder {
	height: 32px;
	width: 20px;
	display: inline-block;
	vertical-align: middle;	
	background: url(images/icons/folder.png) no-repeat 0 7px;
}
span.icon-page {
	height: 32px;
	width: 20px;
	display: inline-block;
	vertical-align: middle;	
	background: url(images/icons/page_white.png) no-repeat 0 7px;
}
